<div class="row">
    <div class="col">
        <h4>Lista de Materias</h4>
    </div>
    <div class="col">
        <button (click)="crearMateria()" type="button" class="btn btn-success btn-sm float-right">Añadir Materia</button>
    </div>
</div>
<div class="table-responsive card">
    <table class="table table-striped text-center" >
        <thead class="table-dark">
            <tr>
                <th>Materia</th>
                <th>Alumnos</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materia of materias">
                <td>{{materia.courseName}}</td>
                <td>{{materia.alumnos}}</td>
                <td>
                    <button (click)="detallesAlumno(materia.idCourse,2)" type="button" class="btn btn-info btn-sm mr-2">Alumnos</button>
                    <button (click)="eliminarMateria(materia.idCourse,2)" type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>