<div mat-dialog-content>
    <form class="form-group" style="font-style: italic; font-size: smaller;" >
        <h2 class="text-center">Añadir Materia</h2>   
        <div class="form-group">
            <label class="">Nombre de Asignatura: </label>
            <input type="text"
            class="form-control"
            id = "courseName"
            [(ngModel)]="materia.courseName"
            name = "courseName"
            required
            minlength="3"
            maxlength="50"
            placeholder="Digite el nombre de la asignatura:"
            #courseName = "ngModel">    
            <div class="alert alert-danger" *ngIf="courseName.invalid && (courseName.dirty || courseName.touched)" style="padding-bottom: 0px; padding-top: 0px;">
                <div *ngIf="courseName.errors?.['required']">
                    ¡Digite el nombre de la asignatura!
                </div>
                <div *ngIf="courseName.errors?.['minlength']">
                    El nombre debe tener minimo 3 caracteres.
                </div>
            </div>
        </div>
        <div class="row float-right" style="margin: auto;"> 
            <div *ngIf="errorAPI" class="alert alert-danger col float-left" style="display: block;width: 100%;padding-bottom: 6px;padding-top: 6px; margin-right: 10px;">
                {{textError}}
            </div>    
            <div class="col-*-*">
                <button class="btn btn-danger mr-2" (click)="cancelButton()">Cancelar</button>
                <button class="btn btn-success" (click)="guardarMateria()">Guardar</button>
            </div>
        </div>
    </form>
</div>